* { 
    margin: 0; 
    padding: 0;
}
.container {
    margin-top: 6%;
    margin-bottom: 2%;
    background-color:rgb(247, 194, 126);
}
p {
    color:#24292e;
    font-size: 1.25rem;
}
h1 {
    color: #2b3137;
}
.col {
    margin: 2%;
}
.row {
    margin-top: 5%;
}
.titulo {
    font-size: 4rem;
    color:rgb(254, 255, 253);
    text-align: center;
    padding: 2%;
}
